In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import confusion_matrix,accuracy_score

In [2]:
import matplotlib.pyplot as plt
plt.style.use("ggplot")
%matplotlib inline

In [3]:
columnss=['id','cycle','setting1','setting2','setting3','s1','s2','s3','s4','s5','s6','s7','s8','s9','s10','s11','s12','s13','s14','s15','s16','s17','s18','s19','s20','s21']

# Training dataset

In [4]:
df_train=pd.read_csv("E:/Github Projects/IBM-Project-11180-1659275121/Datasets/PM_Train.txt",sep=' ',header=None).drop([26,27],axis=1)

In [5]:
df_train.columns=columnss

In [6]:
df_train

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,...,519.49,2388.26,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,...,519.68,2388.22,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,...,520.01,2388.24,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,...,519.67,2388.23,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,...,519.30,2388.26,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522

In [7]:
df_train.shape

(20631, 26)

In [8]:
df_train.isnull().sum()

id          0
cycle       0
setting1    0
setting2    0
setting3    0
s1          0
s2          0
s3          0
s4          0
s5          0
s6          0
s7          0
s8          0
s9          0
s10         0
s11         0
s12         0
s13         0
s14         0
s15         0
s16         0
s17         0
s18         0
s19         0
s20         0
s21         0
dtype: int64

# Testing dataset

In [9]:
df_test=pd.read_csv("E:/Github Projects/IBM-Project-11180-1659275121/Datasets/PM_Test.txt",sep=' ',header=None).drop([26,27],axis=1)

In [10]:
df_test.columns=columnss

In [11]:
df_test

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,521.72,2388.03,8125.55,8.4052,0.03,392.0,2388.0,100.0,38.86,23.3735
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,522.16,2388.06,8139.62,8.3803,0.03,393.0,2388.0,100.0,39.02,23.3916
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,521.97,2388.03,8130.10,8.4441,0.03,393.0,2388.0,100.0,39.08,23.4166
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,521.38,2388.05,8132.90,8.3917,0.03,391.0,2388.0,100.0,39.00,23.3737
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,522.15,2388.03,8129.54,8.4031,0.03,390.0,2388.0,100.0,38.99,23.4130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11934,92,102,0.0045,-0.0003,100.0,518.67,642.86,1588.09,1415.99,14.62,...,521.14,2388.14,8125.23,8.4383,0.03,395.0,2388.0,100.0,38.88,23.2669
11935,92,103,0.0017,0.0001,100.0,518.67,643.18,1589.53,1411.04,14.62,...,520.65,2388.17,8123.80,8.4621,0.03,394.0,2388.0,100.0,38.78,23.1652
11936,92,104,0.0022,0.0001,100.0,518.67,642.67,1585.19,1413.07,14.62,...,521.19,2388.19,8120.47,8.4799,0.03,395.0,2388.0,100.0,38.57,23.1764
11937,92,105,0.0016,0.0001,100.0,518.67,642.69,1588.70,1409.71,14.62,...,521.40,2388.16,8124.38,8.4409,0.03,394.0,2388.0,100.0,38.93,23.2726
11938,92,106,0.0001,-0.0001,100.0,518.67,642.81,1591.25,1408.24,1.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_test.isnull().sum()

id          0
cycle       0
setting1    0
setting2    0
setting3    0
s1          0
s2          0
s3          0
s4          0
s5          0
s6          1
s7          1
s8          1
s9          1
s10         1
s11         1
s12         1
s13         1
s14         1
s15         1
s16         1
s17         1
s18         1
s19         1
s20         1
s21         1
dtype: int64

In [13]:
df_test['s6'].fillna(df_test['s6'].mean(),inplace=True)
df_test['s7'].fillna(df_test['s7'].mean(),inplace=True)
df_test['s8'].fillna(df_test['s8'].mean(),inplace=True)
df_test['s9'].fillna(df_test['s9'].mean(),inplace=True)
df_test['s10'].fillna(df_test['s10'].mean(),inplace=True)
df_test['s11'].fillna(df_test['s11'].mean(),inplace=True)
df_test['s12'].fillna(df_test['s12'].mean(),inplace=True)
df_test['s13'].fillna(df_test['s13'].mean(),inplace=True)
df_test['s14'].fillna(df_test['s14'].mean(),inplace=True)
df_test['s15'].fillna(df_test['s15'].mean(),inplace=True)
df_test['s16'].fillna(df_test['s16'].mean(),inplace=True)
df_test['s17'].fillna(df_test['s17'].mean(),inplace=True)
df_test['s18'].fillna(df_test['s18'].mean(),inplace=True)
df_test['s19'].fillna(df_test['s19'].mean(),inplace=True)
df_test['s20'].fillna(df_test['s20'].mean(),inplace=True)
df_test['s21'].fillna(df_test['s21'].mean(),inplace=True)

# Truth dataset

In [14]:
df_truth=pd.read_csv("E:/Github Projects/IBM-Project-11180-1659275121/Datasets/PM_Truth.txt")

In [15]:
df_truth.columns=['more']

In [16]:
df_truth

    more
0     98
1     69
2     82
3     91
4     93
..   ...
94   137
95    82
96    59
97   117
98    20

[99 rows x 1 columns]

In [17]:
df_truth['id']=df_truth.index+1

In [18]:
df_truth

    more  id
0     98   1
1     69   2
2     82   3
3     91   4
4     93   5
..   ...  ..
94   137  95
95    82  96
96    59  97
97   117  98
98    20  99

[99 rows x 2 columns]

In [19]:
df_truth.isnull().sum()

more    0
id      0
dtype: int64

# Pre-processing

In [20]:
dp=pd.DataFrame(df_test.groupby('id')['cycle'].max()).reset_index()

In [21]:
dp.columns=['id','max']

In [22]:
dp

    id  max
0    1   31
1    2   49
2    3  126
3    4  106
4    5   98
..  ..  ...
87  88   68
88  89  177
89  90  146
90  91  234
91  92  106

[92 rows x 2 columns]

In [23]:
df_truth['rtf']=df_truth['more']+dp['max']

In [24]:
df_truth

    more  id    rtf
0     98   1  129.0
1     69   2  118.0
2     82   3  208.0
3     91   4  197.0
4     93   5  191.0
..   ...  ..    ...
94   137  95    NaN
95    82  96    NaN
96    59  97    NaN
97   117  98    NaN
98    20  99    NaN

[99 rows x 3 columns]

# Calculate time to failure

In [25]:
df_truth.drop("more",axis="columns",inplace=True)

In [26]:
df_truth

    id    rtf
0    1  129.0
1    2  118.0
2    3  208.0
3    4  197.0
4    5  191.0
..  ..    ...
94  95    NaN
95  96    NaN
96  97    NaN
97  98    NaN
98  99    NaN

[99 rows x 2 columns]

In [27]:
df_test=df_test.merge(df_truth,on=['id'],how='left')
df_test["ttf"]=df_test['rtf']-df_test['cycle']
df_test.drop("rtf",axis="columns",inplace=True)
df_test

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s13,s14,s15,s16,s17,s18,s19,s20,s21,ttf
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,2388.030000,8125.550000,8.40520,0.03,392.000000,2388.0,100.0,38.860000,23.373500,128.0
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,2388.060000,8139.620000,8.38030,0.03,393.000000,2388.0,100.0,39.020000,23.391600,127.0
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,2388.030000,8130.100000,8.44410,0.03,393.000000,2388.0,100.0,39.080000,23.416600,126.0
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,2388.050000,8132.900000,8.39170,0.03,391.000000,2388.0,100.0,39.000000,23.373700,125.0
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,2388.030000,8129.540000,8.40310,0.03,390.000000,2388.0,100.0,38.990000,23.413000,124.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11934,92,102,0.0045,-0.0003,100.0,518.67,642.86,1588.09,1415.99,14.62,...,2388.140000,8125.230000,8.43830,0.03,395.000000,2388.0,100.0,38.880000,23.266900,89.0
11935,92,103,0.0017,0.0001,100.0,518.67,643.18,1589.53,1411.04,14.62,...,2388.170000,8123.800000,8.46210,0.03,394.000000,2388.0,100.0,38.780000,23.165200,88.0
11936,92,104,0.0022,0.0001,100.0,518.67,642.67,1585.19,1413.07,14.62,...,2388.190000,8120.470000,8.47990,0.03,395.000000,2388.0,100.0,38.570000,23.176400,87.0
11937,92,105,0.0016,0.0001,100.0,518.67,642.69,1588.70,1409.71,14.62,...,2388.160000,8124.380000,8.44090,0.03,394.000000,2388.0,100.0,38.930000,23.272600,86.0
11938,92,106,0.0001,-0.0001,100.0,518.67,642.81,1591.25,1408.24,1.00,...,2388.071659,8138.532015,8.42577,0.03,392.565505,2388.0,100.0,38.892894,23.336205,85.0

In [28]:
df_train['ttf']=df_train.groupby(['id'])['cycle'].transform(max)-df_train['cycle']
df_train

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s13,s14,s15,s16,s17,s18,s19,s20,s21,ttf
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,191
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,190
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,189
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,188
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,...,2388.26,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735,4
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,...,2388.22,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594,3
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,...,2388.24,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333,2
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,...,2388.23,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640,1
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,...,2388.26,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522,0

# Applying threshold

In [29]:
period=30

In [30]:
df_train['label_bc']=df_train['ttf'].apply(lambda x: 1 if x <= period else 0)

In [31]:
df_test['label_bc']=df_test['ttf'].apply(lambda x: 1 if x <= period else 0)

In [32]:
df_train

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s14,s15,s16,s17,s18,s19,s20,s21,ttf,label_bc
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,191,0
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,190,0
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,189,0
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,188,0
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,187,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,...,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735,4,1
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,...,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594,3,1
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,...,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333,2,1
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,...,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640,1,1
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,...,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522,0,1

In [33]:
df_test

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s14,s15,s16,s17,s18,s19,s20,s21,ttf,label_bc
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,8125.550000,8.40520,0.03,392.000000,2388.0,100.0,38.860000,23.373500,128.0,0
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,8139.620000,8.38030,0.03,393.000000,2388.0,100.0,39.020000,23.391600,127.0,0
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,8130.100000,8.44410,0.03,393.000000,2388.0,100.0,39.080000,23.416600,126.0,0
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,8132.900000,8.39170,0.03,391.000000,2388.0,100.0,39.000000,23.373700,125.0,0
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,8129.540000,8.40310,0.03,390.000000,2388.0,100.0,38.990000,23.413000,124.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11934,92,102,0.0045,-0.0003,100.0,518.67,642.86,1588.09,1415.99,14.62,...,8125.230000,8.43830,0.03,395.000000,2388.0,100.0,38.880000,23.266900,89.0,0
11935,92,103,0.0017,0.0001,100.0,518.67,643.18,1589.53,1411.04,14.62,...,8123.800000,8.46210,0.03,394.000000,2388.0,100.0,38.780000,23.165200,88.0,0
11936,92,104,0.0022,0.0001,100.0,518.67,642.67,1585.19,1413.07,14.62,...,8120.470000,8.47990,0.03,395.000000,2388.0,100.0,38.570000,23.176400,87.0,0
11937,92,105,0.0016,0.0001,100.0,518.67,642.69,1588.70,1409.71,14.62,...,8124.380000,8.44090,0.03,394.000000,2388.0,100.0,38.930000,23.272600,86.0,0
11938,92,106,0.0001,-0.0001,100.0,518.67,642.81,1591.25,1408.24,1.00,...,8138.532015,8.42577,0.03,392.565505,2388.0,100.0,38.892894,23.336205,85.0,0

# Splitting the dataset

In [34]:
x_train=df_train.iloc[:,:-1].values

In [35]:
y_train=df_train.iloc[:,-1:].values

In [36]:
from sklearn.model_selection import train_test_split as tts

In [37]:
x_train,x_test,y_train,y_test=tts(x_train,y_train,test_size=0.2,random_state=0)

# Model Building

In [38]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)

C:\Users\Sakthivel\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Sakthivel\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [39]:
y_predlog=model.predict(x_test)

In [40]:
from sklearn.metrics import accuracy_score as acs

In [41]:
acs(y_test,y_predlog)

0.9985461594378483

In [42]:
from sklearn.metrics import confusion_matrix as cm

In [43]:
cm(y_test,y_predlog)

array([[3514,    3],
       [   3,  607]], dtype=int64)

In [44]:
import joblib as jb

In [45]:
jb.dump(model,"E:/Github Projects/IBM-Project-11180-1659275121/lr.sav")

['E:/Github Projects/IBM-Project-11180-1659275121/lr.sav']